@use '../global/' as *;

.popular__posts{
    display: grid;
    grid-template-columns:repeat(6,300px) ;
    gap:1em;
    scroll-behavior: smooth;
    
    
    
    @media screen and (max-width:$br-tb) {
        
        // grid-template-columns: repeat(6, 2fr);
        overflow: scroll;
    }
}
.cardsNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    span{
        
        border-left: 2px solid red($color: #000000);
    }
    .PostChange{
        display: flex;
        gap: 0.5em;

        &__btn{
            padding: 1em;
            border-color: transparent;
            border-radius: 10px;
            :hover{
                color: $text-gray;
            }

        }
       
    }
}


.cards{
    &__title{
        border-left: 2px solid red;
        height: min-content;
        padding-left: 0.5em;
        display: flex;
        align-items: center;
    }

}