@use '../global' as *;

.categories__main{
    display: flex;
    background-color: $bg-gray;
    border-radius: 10px;
    scroll-behavior: smooth;
    @media screen and (max-width:$br-mb) {
        display: none;
    }
    button{
        background: transparent;
        border: none;
        border-radius: 10px;
        padding:0em 0.8em;
        }
    .left-btn{
        padding-right:0em;
    }
    
}



.categories::-webkit-scrollbar {
    display: none;
    }
  .category_card::-webkit-scrollbar {
    display: none;
    }
.categories{
    display: flex;
    // align-items: center;
    justify-content: start;
    gap: 0.5em;
    padding: 0.5em;
    overflow: auto;
   
    border-radius: 10px;
    position: relative;
    scroll-behavior: smooth;

}


.category_card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    width: 100%;
    min-width: 170px;
    height: 40px;
    text-align: center;
    background:white;
    background-image: url("/src/images/cars/car1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    @media screen and (max-width:$br-mb) {
        min-width: 170px;
    }
}

.vissible{
    display: block;
}
.hidden{
    display: none;
}